{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
    <h1>MyForm</h1>
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="col autocomplete-widget" id="some-custom-id" data-autocomplete-url="{{ path('autocomplete_pappers') }}">
            {{ form_row(form.siret) }}
        </div>
        <div id="users"
             data-index="{{ form.users|length > 0 ? form.users|last.vars.name + 1 : 0 }}"
             data-prototype="{{ form_row(form.users.vars.prototype)|e('html_attr') }}"
             data-widget-counter="{{ form.users|length }}"
        >
            {{ form_row(form.users) }}
            <span></span>
        </div>
        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#users">Add another user</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="javascript/autocomplete-widget.js"></script>

{% endblock %}
