{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
    <script src="javascript/add-collection-widget.js"></script>
    <h1>MyForm</h1>
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.siret) }}
        </div>
        <div id="users"
             data-prototype="{{ form_row(form.users.vars.prototype)|e('html_attr') }}"
             data-widget-counter="{{ form.users|length }}"
        >
            {{ form_row(form.users) }}
            <span></span>
        </div>
        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#users">Add another user</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
